/** @format */

.white {
  background-color: whitesmoke;
  height: 60vh;
  width: 5vw;
  position: relative;
  z-index: 0;
}
.black {
  background-color: #333;
  height: 40vh;
  width: 5vw;
  position: relative;
  bottom: 20vh;
  z-index: 1;
}
.piano {
  margin: 15px;
  padding: 30px;
  border: solid 5px;
  border-radius: 15%;
  background-color: whitesmoke;
}
.piano-btn {
  border-radius: 50%;
  padding: 10px;
  margin: 15px;
  background-color: peachpuff;
}
.piano-img {
  border-radius: 50%;
}
@media (max-width: 768px) {
  .black {
    width: 6vw;
    height: 20vh;
    position: relative;
    bottom: 10vh;
  }
  .white {
    width: 6vw;
    height: 30vh;
  }
}
