/** @format */

.white {
  background-color: whitesmoke;
  height: 60vh;
  width: 5vw;
}
.black {
  background-color: #333;
  height: 40vh;
  width: 5vw;
  position: relative;
  bottom: 10vh;
  color: whitesmoke;
}
.piano {
  margin: 15px;
  padding: 30px;
  border: solid 5px;
  border-radius: 15%;
  background-color: whitesmoke;
}
.piano-btn {
  border-radius: 50%;
  padding: 10px;
  margin: 15px;
  background-color: peachpuff;
}
.piano-img {
  border-radius: 50%;
}
