/** @format */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
.App {
  font-family: "Akaya Telivigala", cursive;
  text-align: center;
  margin: auto;
  background-color: #99e6ff;
}

.glass {
  border: solid 5px blueviolet;
  border-radius: 10%;
  width: 70%;
  margin: auto;
  padding: 30px;
  background-color: yellow;
  box-shadow: 30px 30px orangered;
}

img {
  height: 100px;
  width: 100px;
  animation-name: headline-animation;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
h2 {
  color: blueviolet;
  font-size: 40px;
  animation-name: headline-animation;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: auto;
  }
}
